.idea
.vscode

jenkins-server/logs/
jenkins-server/npm-debug.log
jenkins-server/yarn-error.log
jenkins-server/node_modules/
jenkins-server/*-lock.json
jenkins-server/*-lock.yaml
jenkins-server/yarn.lock
jenkins-server/coverage/
jenkins-server/.idea/
jenkins-server/run/
jenkins-server/.DS_Store
jenkins-server/*.sw*
jenkins-server/*.un~
jenkins-server/typings/
jenkins-server/.nyc_output/

jenkins-server/jenkins


jenkins-front/logs
jenkins-front/*.log
jenkins-front/npm-debug.log*
jenkins-front/yarn-debug.log*
jenkins-front/yarn-error.log*
jenkins-front/pnpm-debug.log*
jenkins-front/lerna-debug.log*

jenkins-front/node_modules
jenkins-front/dist
jenkins-front/dist-ssr
jenkins-front/*.local

# Editor directories and files
jenkins-front/.vscode/*
jenkins-front/!.vscode/extensions.json
jenkins-front/.idea
jenkins-front/.DS_Store
jenkins-front/*.suo
jenkins-front/*.ntvs*
jenkins-front/*.njsproj
jenkins-front/*.sln
jenkins-front/*.sw?
jenkins-server/jenkins/index.js



